$ffmon: "Montserrat";
$ffjossan: 'Josefin Sans'; 
$ffopsan: "Open Sans";
$fsnormal: normal;
$fw700: 700;
$fw400: 400;
$fz14: 14px;
$fz18: 18px;
$color-white: #ffffff;
$color-dark: #2C4058;
$color-black: #000000;
$light-blue: #55b7ff;


